<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Field</h2>
<field label="Nombre" value="David"></field>

<field label="Apellido" value="David" iconPrefix="visibility"></field>

<h2>Field Input</h2>

<form [formGroup]="form1">
  <h3>Nombre Completo</h3>

  <field-input label="Nombre" iconSuffix="visibility" [edit]="true">
    <input matInput type="text" formControlName="nombre">
  </field-input>

  <field-input label="1º Apellido" [edit]="true">
    <input matInput type="text" formControlName="apellido1">
  </field-input>

  <field-input label="2º Apellido">
    <input matInput type="text" formControlName="apellido2">
  </field-input>

</form>


<h2>Field Select</h2>
